.submission-form-container {
    display: flex;
    background-color: black;
    flex-direction: column;
    padding: 6px;
    flex-grow: 1;
}

.submission-form-input-container {
    /*margin-top: 12px;*/
    /*margin-bottom: 12px;*/
}

.submission-form-title-input-container {
    display: flex;
    align-items: center;
}

.submission-form-title-input {
    margin: 12px;
    background-color: gray;
    width: 100%;
}

.submission-form-content-input-container {
    display: flex;
    align-items: center;
}

.submission-form-content-input {
    background-color: gray;
    flex-grow: 1;
}

.submission-form-label-container {
    width: 80px;
    display: flex;
    justify-content: flex-end;
}

.submission-form-subkleddit-input-container {
    display: flex;
    align-items: center;
}

.submission-form-button-input-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 12px;
    margin-bottom: 12px;
}