.submission-container {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    margin: 4px;
    width: 100%;
}

.submission-title {
    font-size: 1.1em;
}

.submission-subkleddit {
    opacity: 0.45;
    font-size: 0.75em;
}