.submission-form-container {
    display: flex;
    flex-direction: column;
    padding: 6px;
    height: 425px;
    width: 800px;
}

.submission-form-title-input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.submission-form-title-input {
    /*width: 650px;*/
    margin: 12px;
    background-color: gray;
    width: 100%;
}

.submission-form-content-input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.submission-form-content-input {
    /*width: 650px;*/
    margin: 12px;
    background-color: gray;
    width: 100% !important;
}

.submission-form-label-container {
    width: 80px;
    display: flex;
    justify-content: center;
}

.submission-form-subkleddit-input-container {
    display: flex;
    align-items: center;
}

.submission-form-button-input-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}