.profile-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.profile-welcome {
    display: flex;
    justify-content: center;
}

.profile-delete-section {
    display: flex;
}

.profile-delete-confirmation-actions-container {
    display: flex;
    justify-content: flex-end;
    padding: 6px 0px;
}

.profile-delete-dialog-title {
    font-size: 1.5rem;
    background-color: black;
    display: flex;
    padding: 3px 6px;
    justify-content: center;
}

.profile-delete-dialog-content {
    padding: 12px;
}

.profile-delete-dialog-divider {
    width: 100%;
}

.profile-delete-dialog-button {
    margin: 0px 6px;
}